button {
  background-color: #ff9000;
  border-radius: 100px;
  box-shadow: rgba(68, 11, 11, 0);
  color: #000;
  cursor: pointer;
  display: inline-block;
  padding: 3px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  max-width: 300px;
  margin: 0 auto;
}

button:hover {
  box-shadow: rgba(25, 43, 5, 0.842);
  transform: scale(1.05) rotate(-1deg);
}
